.modal {
  font-size: 0.85rem;
}

.modal-title {
  font-size: 1rem;
}

.text-danger {
  margin-top: 2px;
  font-size: 0.7rem;
}

.btn {
  font-size: 0.85rem;
}
.btn-primary-custom {
  background-color: #4B49AC;
  border-color: #4B49AC;
  color: white;
}

.btn-primary-custom:hover {
  background-color: #3A3894;
  border-color: #3A3894;
}

.btn-primary-custom:focus {
  box-shadow: 0 0 0 0.25rem rgba(75, 73, 172, 0.5);
}

.btn-primary-custom:disabled {
  background-color: #4B49AC;
  border-color: #4B49AC;
  opacity: 0.65;
}

.btn-secondary-custom {
  background-color: rgba(75, 73, 172, 0.1);
  border-color: #4B49AC;
  color: #4B49AC;
}

.btn-secondary-custom:hover {
  background-color: rgba(75, 73, 172, 0.2);
  color: #4B49AC;
}

.btn-secondary-custom:disabled {
  background-color: rgba(75, 73, 172, 0.05);
  color: #4B49AC;
  opacity: 0.65;
}
