.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body-wrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 0;
  padding: 10px;
}

main > * {
  max-width: 100%;
  box-sizing: border-box;
}
